## Day 1 of Programming

### Python Print Statement Tutorial

### 1. Introduction to print()
The print() function in Python is used to output text, numbers, and other data types to the screen (standard output). It's one of the first things you learn when starting to code.

print(value1, value2, ..., sep=' ', end='\n')

value1, value2,...: These are the values you want to print. You can print multiple values separated by commas.

sep: (Optional) Separator used between values. Default is a space.

end: (Optional) Defines what to print at the end. Default is a newline character (\n), which moves to the next line.

### 2. Basic Usage of print()

In [2]:
print("Hello, World!")

Hello, World!

#### Here, the print() function outputs the text inside the quotes to the console.

### 3. Printing Multiple Values

You can print multiple values using commas:

In [3]:
print("The result is:", 42)

The result is: 42

#### Python will automatically add a space between values when printing multiple items.

### 4. Custom Separators (sep)

The sep argument allows you to customize what separates multiple values:

In [5]:
print("apple", "banana", "cherry", sep=", ")

apple, banana, cherry

### 5. Custom End Character (end)

By default, the print() function ends with a newline (\n), which moves the cursor to the next line. You can change this using the end parameter.

In [6]:
print("Hello", end=" ")
print("World!")

Hello World!

#### Here, the first print() ends with a space instead of a newline, so the second print() continues on the same line.

### 6. Escape Characters

You can use escape characters inside strings to format your output.

Common escape characters:

\n: Newline

\t: Tab

\\: Backslash

\': Single quote

\": Double quote

In [7]:
print("First Line\nSecond Line")

First Line
Second Line

### 7. Printing Variables

You can also print the values stored in variables:

In [8]:
name = "Alice"
age = 25
print("Name:", name, "Age:", age)

Name: Alice Age: 25

### 8. String Formatting in print()

Python provides several ways to format strings when printing.

#### Method 1: Concatenation

In [9]:
name = "John"
print("Hello, " + name + "!")

Hello, John!

#### Method 2: f-strings (Recommended in Python 3.6+)

In [10]:
name = "John"
age = 30
print(f"Hello, {name}. You are {age} years old.")

Hello, John. You are 30 years old.

#### Method 3: format() method

In [11]:
name = "John"
age = 30
print("Hello, {}. You are {} years old.".format(name, age))

Hello, John. You are 30 years old.

### 9. Printing Data Structures

You can print data structures like lists, tuples, and dictionaries:

In [12]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [13]:
person = {"name": "Alice", "age": 25}
print(person)

{'name': 'Alice', 'age': 25}

### 10. Common Errors

Syntax Error: If you forget the parentheses in Python 3, youâ€™ll get a syntax error.

In [14]:
# This will cause an error in Python 3:
print "Hello, World!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1641543541.py, line 2)

In [15]:
print("Hello, World!")

Hello, World!