#### Day 11 of Programming

### Python Tutorial: Working with Tuples

Introduction to Tuples
A tuple is a collection of items in Python that is ordered and immutable (unchangeable). Tuples are used to store multiple items in a single variable. They are similar to lists but with one key differenceâ€”once a tuple is created, it cannot be modified.

Tuples are:

Ordered: The items have a defined order and that order will not change.

Immutable: Tuples cannot be changed (i.e., items cannot be added, removed, or modified).

Allow Duplicates: Tuples can contain duplicate items.

### Step 1: Creating a Tuple
Tuples are defined by enclosing elements in parentheses ().

Example:

In [1]:
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")

print(my_tuple)  # Output: ('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

##### You can also create a tuple without parentheses, but it is more readable to use them.

In [4]:
my_tuple = "apple", "banana", "cherries"
print(my_tuple)

('apple', 'banana', 'cherries')

#### Empty Tuple:

In [5]:
empty_tuple = ()

#### Single-Element Tuple:
For a tuple with a single element, you must include a trailing comma to differentiate it from a regular value.

In [6]:
single_tuple = ("apple",)  # The comma makes it a tuple
not_a_tuple = ("apple")  # This is just a string

### Step 2: Accessing Tuple Elements
You can access elements in a tuple by indexing and slicing, similar to lists. The first element has an index of 0.

In [7]:
my_tuple = ("apple", "banana", "cherry")

# Accessing the first element
print(my_tuple[0])  # Output: 'apple'

# Accessing the last element
print(my_tuple[-1])  # Output: 'cherry'

apple
cherry

### Slicing Tuples:
You can also slice tuples to access a range of elements.

In [8]:
# Slicing a tuple
print(my_tuple[1:3])  # Output: ('banana', 'cherry')

('banana', 'cherry')

### Step 3: Tuple Immutability
Tuples are immutable, meaning once they are created, their elements cannot be changed. This makes them different from lists, which are mutable.

In [9]:
my_tuple = ("apple", "banana", "cherry")

# Trying to change an element (will raise an error)
my_tuple[1] = "orange"  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Step 4: Tuple Methods
Although tuples are immutable, you can use some basic methods to work with them.

count(): Returns the number of times a specified value occurs in a tuple.

In [10]:
my_tuple = (1, 2, 3, 2, 2, 4)
print(my_tuple.count(2))  # Output: 3

3

##### index(): Returns the index of the first occurrence of a specified value.

In [11]:
my_tuple = (1, 2, 3, 2, 2, 4)
print(my_tuple.index(3))  # Output: 2

2

### Step 5: Working with Tuples
#### 1. Tuple Concatenation
You can concatenate two or more tuples using the + operator.

In [12]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

combined_tuple = tuple1 + tuple2
print(combined_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

#### 2. Repeating Tuples
You can repeat tuples using the * operator.

In [13]:
my_tuple = ("apple", "banana")
repeated_tuple = my_tuple * 2
print(repeated_tuple)  # Output: ('apple', 'banana', 'apple', 'banana')

('apple', 'banana', 'apple', 'banana')

### Step 6: Converting Between Lists and Tuples
While tuples are immutable, you can convert them to a list, modify the list, and convert it back to a tuple.

In [14]:
# Converting a tuple to a list
my_tuple = ("apple", "banana", "cherry")
my_list = list(my_tuple)

# Modifying the list
my_list[1] = "orange"

# Converting the list back to a tuple
my_tuple = tuple(my_list)
print(my_tuple)  # Output: ('apple', 'orange', 'cherry')

('apple', 'orange', 'cherry')

### Step 7: Nesting Tuples
Tuples can contain other tuples, which is called nesting.

In [16]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

print(nested_tuple[0])  # Output: (1, 2)
print(nested_tuple[0][1])  # Output: 2

(1, 2)
2

### Step 8: Checking for Membership
You can use the in and not in operators to check if an item exists in a tuple.

In [17]:
my_tuple = ("apple", "banana", "cherry")

print("apple" in my_tuple)  # Output: True
print("orange" not in my_tuple)  # Output: True

True
True

### Step 9: Iterating Over a Tuple
You can iterate over a tuple using a for loop.

In [18]:
my_tuple = ("apple", "banana", "cherry")

for fruit in my_tuple:
    print(fruit)

apple
banana
cherry

### Practice questions

1. Write a Python program that attempts to change the second element of a tuple and handles the TypeError that arises when doing so.
2. Write a Python program to concatenate two tuples, tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), then print the resulting tuple.
3. Write a Python program that creates a nested tuple nested_tuple = ((1, 2), (3, 4), (5, 6)), then prints the second element of the first nested tuple.