### Day 38 of programming

## Python For Loops Tutorial
In Python, loops allow you to iterate over a sequence of data (like a list, tuple, string, or range) and execute a block of code multiple times. One of the most commonly used loops is the for loop.

### What is a for loop?
A for loop in Python is used for iterating over sequences, such as:

Lists

Tuples

Strings

Dictionaries

Ranges (numbers)

For each item in the sequence, the for loop executes a block of code.

### Basic Syntax

In [ ]:
for variable in sequence:
    # Code block to be executed

variable: This is the iteration variable that takes the value of each item in the sequence.

sequence: The collection (list, tuple, string, etc.) you are iterating over.
### Example: Iterating Over a List

In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

The loop iterates over each item in the fruits list and prints it.

### Using for Loop with range()
The range() function generates a sequence of numbers, which is very useful for controlling the number of iterations in a loop.

#### Basic range() Usage:

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

range(5) generates numbers from 0 to 4 (excluding 5). The loop iterates 5 times, printing the values from 0 to 4.
### Using range(start, stop, step):
start: The starting point (included).

stop: The stopping point (excluded).

step: The step size or increment.

In [4]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

### For Loop with String

In [5]:
name = "Alice"
for letter in name:
    print(letter)

A
l
i
c
e

### Multiplication Table

In [6]:
num = 3
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

### Using for with Dictionaries
In dictionaries, you can loop over keys, values, or both:

In [8]:
person = {"name": "Alice", "age": 25, "location": "Germany"}

# Looping through dictionary keys
for key in person:
    print(key)

# Looping through dictionary values
for value in person.values():
    print(value)

# Looping through both keys and values
for key, value in person.items():
    print(f"{key}: {value}")

name
age
location
Alice
25
Germany
name: Alice
age: 25
location: Germany

### Practice Questions
Write a Python program to print the first 10 Fibonacci numbers using a for loop.

Create a list of numbers from 1 to 20, and then use a for loop to print only the even numbers.

Write a program that calculates the factorial of a given number using a for loop.

Write a Python program to reverse a string using a for loop.

Create a for loop to iterate through the keys and values of a dictionary and print them in a specific format.